<!-- Content
============================================= -->
<section id="content" style="background: url(/assets/images/bglogin.jpg) center center; background-size: content;">

    <div class="content-wrap">

        <div class="container clearfix thanks">   
            <div class="heading-block center nobottomborder">
                <h1 class="oj-title">Thank you for your order!<br>Please check your email<br>to proceed with payment</h1>
            </div>
        </div>

    </div>

</section><!-- #content end -->