<!-- Content
============================================= -->
<section id="content" style="background: url(<%= asset_path 'images/bglogin.jpg' %>) center center; background-size: content;">

    <div class="content-wrap">

        <div class="container clearfix thanks">   
            <div class="heading-block center nobottomborder">
                <h1 class="oj-title">Thank you for your payment!<br> Our warrior will be at your service!</h1>
            </div>
        </div>

    </div>

</section><!-- #content end -->