<!-- BEGIN LOGIN -->
<div class="content"> 
  
  <%= render partial: 'layouts/messages' %>
  
  <%= render partial: 'login_form', locals: {style: 'display:none;'} %>

  <%= render partial: 'forgot_form', locals: {style: 'display:inline;'} %>
  
  <%= render partial: 'registration_form', locals: {style: 'display:none;'} %>
</div>
<!-- END LOGIN -->